/* styles/components/typography.css */

@layer components {
  .heading {
    font-size: var(--font-size-2xl);
    font-weight: 700;
    color: var(--color-text);
    margin-bottom: var(--space-5);
  }

  .heading-lg {
    font-size: var(--font-size-xl);
    font-weight: 700;
    color: var(--color-text);
  }
}
